<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.study.pojo.UserMapper">
<!-- typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" 
                /> -->
	<resultMap type="user" id="userMapper">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="sex" column="sex"
			typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
	</resultMap>

	<select id="getUser" resultMap="userMapper" parameterType="long">
		select id, user_name,sex from t_user where id = #{id}
	</select>
</mapper>